@charset "UTF-8";

.profile-icon {
	width: 200px;
	border-radius: 50%;
}

.skills-container {
	row-gap: 20px;
}

.skills-container img {
	max-width: 100%;
	width: auto;
}

/* スマホ表示でのサイズ統一 */
.html-logo, .css-logo, .js-logo, .sql-logo {
	height: 60px;
	object-fit: contain;
}

.css-logo {
	margin-right: 5px;
}

.jquery-logo {
	height: 30px;
	/* margin-top: 15px; */
}

.php-logo{
	height: 45px;
}

.wp-logo {
	height: 55px;
}

@media (min-width: 768px) {
	.skills-container {
		row-gap: 30px;
		column-gap: 10px;
	}

	.html-logo, .css-logo, .js-logo, .sql-logo {
		height: 80px;
	}

	.css-logo {
		margin-right: 8px;
	}

	.jquery-logo {
		height: 40px;
	}

	.php-logo {
		height: 60px;
	}

	.wp-logo {
		height: 75px;
	}
}

.projects-container {
	column-gap: 20px;
}

.projects-container .badge-personal {
	background: linear-gradient(to right, #EC6EAD, #3494E6);
	background: -webkit-linear-gradient(right, #EC6EAD, #3494E6);
	color: #ffffff;
}

.projects-container .badge-group {
	background: linear-gradient(to right, #4ca2cd, #67B26F);
	background: -webkit-linear-gradient(right, #4ca2cd, #67B26F);
	color: #ffffff;
}

.projects-container img {
	max-width: 100%;
	object-fit: contain;
	transition: all 0.4s ease;
}

.projects-container a:hover img {
	transform: scale(1.03);
}