*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222222;
}

body {
	background-color: #ffffff;
	color: #222222;
	font-family: 'Montserrat', 'Zen Kaku Gothic New', sans-serif;
	font-size: clamp(0.9rem, 0.85rem + 0.25vw, 1rem);
	line-height: 1.9;
	letter-spacing: 0.05em;
	position: relative;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler:focus {
	box-shadow: none;
	outline: none;
	opacity: 0.7;
}

@media (max-width: 992px) {
	.offcanvas-title {
		font-weight: 700;
		color: #000000;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		padding-left: 10px;
	}

	.offcanvas-body li {
		margin-bottom: 20px;
		padding-left: 10px;
	}

	.offcanvas-body li:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, .fw-bold{
	font-weight: 700;
	color: #000000;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

h2 {
	font-size: clamp(1.8rem, 4vw, 2.5rem);
}

h3 {
	font-size: clamp(1.3rem, 3vw, 1.75rem);
}

/* メインセクション */
.container-wrapper {
  padding-left: 5%;
  padding-right: 5%;
}

@media (min-width: 991px) {
  .container-wrapper {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* トップページ戻るボタン */
.page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 20;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px #333;
	background-color: #ffffff;
	display: none;
	display: inline-block;
}

.page-top::before {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-left: solid 1px #333;
	border-top: solid 1px #333;
	top: 50%;
	left: 50%;
	transform: 
    	translate(-50%, -25%)
    	rotate(45deg)
  	;
	position: absolute;
}

.page-top:hover {
	opacity: 0.7;
	border: solid 1px #333;
}

small {
	font-size: 0.7rem;
}