@charset "UTF-8";

.img-container {
	width: 40px;
	height: 40px;
}

.link {
	width: 100%;
	height: 100%;
}

.github {
	width: 90%;
	height: 90%;
}

.hero-img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}

.img-container:hover img {
	opacity: 0.5;
}


.detail-container h5 {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

/* ページ下部ボタン */
.btn-container .btn {
	max-width: 230px;
	margin: 0 auto;
	padding: 15px 0;
	transition: all 0.3s ease;
	color: #333;
	display: inline-block;
	white-space: nowrap;
}

.btn-arrow {
	position: relative;
	border: none;
}

.btn-arrow::before {
	content: "";
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 1px;
	background-color: #333;
}

.btn-arrow::after {
	content: "";
	position: absolute;
	bottom: 5px;
	width: 15px;
	height: 1px;
	background-color: #333;
	transform-origin: right bottom;
}

/* 右方向の矢印 */
.btn-arrow-right::before {
	left: 0;
}

.btn-arrow-right::after {
	right: 0;
	transform: rotate(35deg);
}

/* 左方向の矢印 */
.btn-arrow-left::before {
	right: 0;
}

.btn-arrow-left::after {
	left: 0;
	transform-origin: left bottom;
	transform: rotate(-35deg);
}

.btn-arrow:hover {
	opacity: 0.7;
}

.btn-center {
	border: solid 1px #333;
	border-radius: 0;
}

.btn-center:hover {
	opacity: 0.7;
	border: solid 1px #333;
	border-radius: 0;
}

@media (max-width:768px) {
	.btn-container {
		flex-direction: column;
		gap: 20px;
	}

	.btn-container .btn {
		font-size: 0.9rem;
		max-width: 70%;
		padding: 15px 0;
	}

}