@charset "UTF-8";
.l-section {
	padding-top: clamp(2rem, 4vw, 4rem);
	padding-bottom: clamp(2rem, 4vw, 4rem);
}

.l-section:first-of-type {
	padding-top: clamp(1rem, 2vw, 2.5rem);
}


.hero h4 {
	font-size: clamp(1.1rem, 2.5vw + 0.4rem, 1.4rem);
    line-height: 1.4;
}

.mb-display {
	display: none;
}

@media (max-width: 500px) {
	.mb-display {
		display: block;
	}
}

.icon-img-container {
	width: 40px;
	height: 40px;
}

.link {
	width: 100%;
	height: 100%;
}

.github {
	width: 90%;
	height: 90%;
}

.icon-img-container:hover img {
	opacity: 0.5;
}

.hero-img {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	aspect-ratio: 16/9;
	object-fit: cover;
}

@media (max-width: 500px) {
	.icon-img-container {
		width: 30px;
		height: 30px;
	}

	.hero-img {
		width: 100%;
	}
}

/* ヒーロー以下の共通設定 */

.section-title {
	font-size: 1.1rem;
	font-weight: 700;
	display: block;
	margin-bottom: 0;
	padding: 4px 0;
	margin-bottom: 0.8rem;
}

.section-title span {
	font-size: clamp(0.9rem, 2.5vw, 1.1rem);
	border: solid 1px #333;
	padding: 6px 20px;
	box-shadow: 2px 2px #333;
}

.text-detail {
	font-size: clamp(0.85rem, 0.2vw + 0.8rem, 0.95rem);
	color: #495057;
	line-height: 1.75;
	margin-bottom: 0;
	overflow-wrap: break-word;
}

/* 詳細説明部分 */

.detail-container h5 {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 0.5rem;
	margin-bottom: 1rem;
}

.text-detail small {
	text-decoration: underline;
}

@media (max-width: 500px) {
	.detail-container h5 {
		margin-top: 0.8rem;
	}
}

/* ページ下部ボタン */
.btn-container .btn {
	font-size: clamp(0.8rem, 1.5vw + 0.5rem, 1rem);
	max-width: 230px;
	margin: 0 auto;
	padding: 15px 0;
	transition: all 0.3s ease;
	color: #333;
	display: inline-block;
	white-space: nowrap;
}

.btn-arrow {
	position: relative;
	border: none;
}

.btn-arrow::before {
	content: "";
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 1px;
	background-color: #333;
}

.btn-arrow::after {
	content: "";
	position: absolute;
	bottom: 5px;
	width: 15px;
	height: 1px;
	background-color: #333;
	transform-origin: right bottom;
}

/* 右方向の矢印 */
.btn-arrow-right::before {
	left: 0;
}

.btn-arrow-right::after {
	right: 0;
	transform: rotate(35deg);
}

/* 左方向の矢印 */
.btn-arrow-left::before {
	right: 0;
}

.btn-arrow-left::after {
	left: 0;
	transform-origin: left bottom;
	transform: rotate(-35deg);
}

.btn-arrow:hover {
	opacity: 0.7;
}

.btn-center {
	border: solid 1px #333;
	border-radius: 0;
}

.btn-center:hover {
	opacity: 0.7;
	border: solid 1px #333;
	border-radius: 0;
}

@media (max-width:768px) {
	.btn-container {
		flex-direction: column;
		gap: 20px;
	}

	.btn-container .btn {
		font-size: 0.85rem;
		max-width: 95%;
		padding: 10px 0;
	}

}